body {
    background-color: black;
    padding-top: 20px;
    font-family: 'Creepster', cursive;
    color: white;
    background-image: url(../images/cemetery.jpg);
}
.container {
    text-align: center;
}
h3 {
    padding: 10px;
    color: white;
    font-size: 35px;
}
h4 {
    font-size: 75px;
    color: orange;
    margin-top: 25px;
    font-family: 'Bangers', cursive;
}
#halloween-pic {
    width: 525px;
    height: 420px;
    padding-top: 20px;
    display: block;
}
#survivor, #victim {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    padding-top: 20px;
}
#try-again, #survivor, #victim {
    display: none;
    font-size: 30px;
    color: orange;
    text-decoration: underline white;
}
#hangman-game {
    padding-top: 20px;
    border: 3px solid white;
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    font-size: 30px;
    color: orange;
    -webkit-text-stroke: 2px black;
}
#title {
    font-size: 125px;
    font-family: 'Bangers', cursive;
    color: black;
    -webkit-text-stroke: 2px orange;
}
#subtitle {
    font-size: 75px;
    color: orange;
    -webkit-text-stroke: 2px black;
}
#prompts-images {
    margin-top: 20px;
    border: 3px solid white;
}
#start-prompt {
    margin-bottom: 20px;
}
#currentWord {
    padding: 15px;
}

@media screen and (max-width: 640px) {
    img {
        padding: 10px;
    }
    #halloween-pic {
        width: 500px;
    }
}

@media screen and (max-width: 768px) and (min-width: 641px) {
    #halloween-pic {
        width: 325px;
        height: 300px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 980px) and (min-width: 769px) {
    #halloween-pic {
        height: 250px;
        width: 325px;
        padding-top: 20px;
    }
}